<div style="background-color: #50a9b2">

  <div class="container">
    <div class="d-flex flex-column align-items-center justify-content-center min-vh-100">

      <div class="container ">
        <div class="row justify-content-center">
          <input class="col-5 bg-light text-right" type="text" name="input" size="16">
        </div>
        <div class="row align-items-center justify-content-center">
          <input class="col-5 bg-light text-right" type="text" name="input" size="16">
        </div>

        <div class="row">
          <div class="col">
            <button class="btn btn-secondary">9</button>
          </div>
          <div class="col">
            <button class="btn btn-secondary">8</button>
          </div>
          <div class="col">
            <button class="btn btn-secondary">7</button>
          </div>
          <div class="col">
            <button class="btn btn-secondary">DEL</button>
          </div>
          <div class="col">
            <button class="btn btn-secondary">6</button>
          </div>
          <div class="col">
            <button class="btn btn-secondary">5</button>
          </div>
          <div class="col">
            <button class="btn btn-secondary">4</button>
          </div>
        </div>
        <div>
        </div>
      </div>
    </div>
  </div>
</div>
